.starbox
  .container1
    .star 
  .container2
    .star 
  .container3
    .star 
  .container4
    .star 
  .container5
    .star 
  .container6
    .star 
  .container7
    .star 
  .container8
    .star 
  .container9
    .star 
  .container10
    .star
.namecard
  h2 麥大名
    span (My name)
  hr
  h5 簡介：
  p 視覺設計轉職前端工程師。喜歡網頁互動特效，為呈現心中的畫面而努力。
  .circle.circle1
  .circle.circle2
  .circle.circle3